* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: cornsilk
    position: relative;
    font-size: 20px;
    font-family:"Verdana", "Geneva", "Tahoma", "sans-serif";
}

li {
    display: inline;
    padding: 20px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: coral;
    
}

header {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: paleturquoise;
    text-align: center;
}


