* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: whitesmoke;
    position: relative;
    font-size: 20px;
    font-family:"Verdana", "Geneva", "Tahoma", "sans-serif";
}

li {
    display: inline;
    padding: 20px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: rgb(255, 106, 80);
    
}

header {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: lightblue;
    text-align: center;
    position: relative;
    border-bottom: 10px solid gray ;
}

.my-info {
    margin-right: 20px;
    padding: 10px;
    float: left;
    width: 18%;
    height: 100%;
    font-family:"Verdana", "Geneva", "Tahoma", "sans-serif";
    background-color: lightblue;
    
}

footer {
    width: 100%;
    bottom: 0;
    padding: 20px;
    text-align: center;
    background: lightblue;
    color: rgb(255, 106, 80);
    margin-top: auto;
    position: fixed;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
  }
  
  .main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px;
    color: #fff;
  }

.card {
    flex:none;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
  }
  
  .card header {
    padding: 8px;
    color: rgb(255, 106, 80);
  }
  
  .card img {
      max-width: 300px;
      min-width: 100px;
      max-height: 300px;
  }
  